page-home {
text-align: center;

.bigWrapper{
    background-image: url("../../assets/imgs/water.gif");
    background-size: cover;
   
  }

  p{
    margin-top: 50%;
    opacity: 0.8;
  }

  p:hover{
    background: aliceblue;
    opacity: 0.4;
  }

  img{
    width: 400px;
    border-radius: 75%;
  }

}
