page-first-questions {
margin: 0;
padding: 0;

  .wrap{
    background-color: aliceblue;
  }

  .bigWrapper{

  }

    .questions{
        padding: 30px;
        margin-top: 40px;
        text-align: center;
    }

    .QnA{
        padding: 30px; 
    }

    .btn{
        padding: 20px;
    }

    h5{
        text-align: center;
    }

    ion-item{
        padding: 40px;
    }

}    